<body>
    <H1>Rellena el formulario para entrar en el sorteo</H1>
    <img src="../../../assets/ps4.png" width="650">
    <div class="container">
        <p>¡Participa en nuestro sorteo y gana una increíble <span>PS5 edición God of War Ragnarok</span> , una
            <span>tarjeta de regalo de 20€</span> en la PlayStation Store y el aclamado videojuego<span> The Last of Us
                Parte 1!</span> <br>

            ¿Quieres tener la oportunidad de disfrutar de horas y horas de diversión con estos fantásticos premios?
            ¡Entonces no esperes más y participa en nuestro sorteo!<br>


            Recuerda que el plazo para participar finaliza el día<span> 23/04/2023</span> y que anunciaremos al ganador o ganadora en
            nuestras redes sociales.<br>

            ¡No pierdas esta oportunidad única de ganar una PS5 edición God of War Ragnarok, una tarjeta de regalo de
            20€ en la PlayStation Store y el emocionante juego The Last of Us Parte 1! ¡Participa ya!
        </p>
    </div>
</body>